/****** ROOT VARIABLES ******/
:root {
  /* Color */
  --color-primary: #fcfff4; /* Hvid */
  --color-secondary: #003832; /* Mørkegrøn */
  --color-tertiary: #d6eef9; /* Lyseblå */
  --color-accent: #61c6bb; /* Turkis */

  /*Font*/
  --font-heading: "Lora", serif;
  --font-text: "Roboto", sans-serif;

  /* Font sizes desktop*/
  --font-size-xs-desktop: 1.2rem;
  --font-size-sm-desktop: 2rem;
  --font-size-md-desktop: 2.5rem;
  --font-size-lg-desktop: 3rem;
  --font-size-xl-desktop: 4rem;

  /* Font sizes mobile*/
  --font-size-xs-mobile: 0.875rem;
  --font-size-sm-mobile: 1.5rem;
  --font-size-md-mobile: 1.8rem;
  --font-size-lg-mobile: 2.4rem;
  --font-size-xl-mobile: 3rem;

  /* Standard sizes */
  --spacing-xs: 0.5rem; /* Ekstra lille mellemrum */
  --spacing-sm: 1rem; /* Lille mellemrum */
  --spacing-md: 2.5rem; /* Mellem mellemrum */
  --spacing-lg: 3rem; /* Stort mellemrum */
  --spacing-xl: 10rem; /* Ekstra stort mellemrum */
}

/***** RESET *****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** GENERAL STYLES *****/

/* Typograph */
h1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-xl-desktop);
  font-weight: 400; /* Regular */
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-lg-desktop);
  font-weight: 600; /* Semibold */
}

h3 {
  font-family: var(--font-heading);
  font-size: var(--font-size-md-desktop);
  font-weight: 500; /* Medium */
}

h4 {
  font-family: var(--font-text);
  font-size: var(--font-size-md-desktop);
  font-weight: 600; /* Semibold */
}

p {
  font-family: var(--font-text);
  font-size: var(--font-size-xs-desktop);
  line-height: 1.5;
}

/* Bløde kanter på billeder */
img {
  border-radius: 16px;
}

/* Styles in Body */
body {
  background-color: var(--color-primary);
}

/* Margins in main */
main {
  margin-left: var(--spacing-md);
  margin-right: var(--spacing-md);
  color: var(--color-secondary);
}

/* Spaces between sections*/
section {
  margin-bottom: var(--spacing-xl);
}

/*Bold text in header*/
.bold-text {
  font-weight: bold;
}

/* Textboxes for DropDown */

.extra-content {
  display: none; /* Skjul ekstra indhold som standard */
  background-color: var(--color-primary);
  padding: 10px;
  border-radius: 16px;
  margin-top: 10px;
  color: var(--color-secondary);
}

.extra-content.visible {
  display: block; /* Vis indholdet */
}

/***** DESKTOP *****/

@media (min-width: 1024px) {
  /* Grids */
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .grid1_1_1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Placerer indholdet nederst */
    align-items: center;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tre kolonner */
    gap: 60px;
    margin-top: var(--spacing-md);
  }
}

/***** MOBILE *****/
@media (max-width: 768px) {
  body {
    margin-left: var(--spacing-sm);
    margin-right: var(--spacing-sm);
  }

  h1 {
    font-size: var(--font-size-lg-mobile);
  }

  h2 {
    font-size: var(--font-size-md-mobile);
  }

  h3 {
    font-size: var(--font-size-sm-mobile);
  }

  h4 {
    font-size: var(--font-size-md-mobile);
  }
}
