---
import "../styles/style.css"

import Banner from "../components/Banner.astro"
import Header from "../layouts/Header.astro"
import Hero from "../components/Hero.astro"
import FactBox from "../components/FactBox.astro"
import FactBoxCard from "../components/FactBoxCard.astro"
import DropDown from "../components/DropDown.astro"
import DropDownCard from "../components/DropDownCard.astro"
import RoleBox from "../components/RoleBox.astro"
import RoleBoxCard from "../components/RoleBoxCard.astro"
import Form from "../components/Form.astro"
import Volunteer from "../components/Volunteer.astro"
import Footer from "../layouts/Footer.astro"


---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Misbrugsportalen</title>
    <!-- Import af Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <!-- Link til dit stylesheet -->
  <link rel="stylesheet" href="style.css" />
</head>
<body>
	<Banner></Banner>
	<Header />
	<main>
    <Hero/>
    <FactBox/>
    <DropDown/>
    <RoleBox/>
    <Volunteer/>
    <Form/>
  </main>
  <Footer/>

</body>
</html>