---
import Button from "./Button.astro";
---

<section>

       <div class="logo">
         <img src="logo/logo.svg" alt="logo">
      </div>

      <div> <Button text="Bliv frivillig" /></div> 

</section>

<style>

    section {
    background-color: #D6EEF9;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: sticky;
    top: 0;
    padding: 20px;
    text-align: center;
    z-index: 1000;
    }

  
    
</style>



