---
---
<h2>Sådan arbejder vi for positiv forandring</h2>
<div class="grid_1-1-1">
 <slot/>
</div>


<style>
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tre kolonner */
    gap: 60px;
  }
</style>
