---
import DropDownCard from "./DropDownCard.astro"
---
<section>
<h2>Sådan arbejder vi for positiv forandring</h2>
<div class="grid_1-1-1">
 	<DropDownCard title="Samtale" description="Samtale forløb med fast rådgiver" icon="icons/icon1.svg" buttonImg="buttons/dropDown.svg" extraContentId="1"/>
    <DropDownCard title="Akuttelefonen" description="Akut rådgivning og vejledning" icon="icons/icon2.svg" buttonImg="buttons/dropDown.svg" extraContentId="2"/>
    <DropDownCard title="Gruppeforløb" description="Støtte og erfaringsudvikling" icon="icons/icon3.svg" buttonImg="buttons/dropDown.svg" extraContentId="3"/>
</div>
 <!-- Tekstboksen der vises når knappen trykkes -->

            <div class="extra-content" id="extraContent1">
              <p class="bold-text">Samtale</p> <br>
               <div class="line"></div>
              <p>Et samtaleforløb foregår over telefon og henvender sig både til pårørende og personer, der oplever misbrugsproblematikker.<br><br>I et samtaleforløb får du tilknyttet den samme rådgiver gennem 4-8 samtaler. Dette giver mulighed for at opbygge en tryg relation og gå i dybden med de udfordringer og emner, der er vigtige for netop din situation. Samtaleforløbet sikrer en mere sammenhængende og målrettet støtte, der kan hjælpe dig med at finde nye perspektiver og redskaber til at håndtere din situation.</p>
              
            </div>

            <div class="extra-content" id="extraContent2">
              <p class="bold-text">Akuttelefonen</p><br>
              <div class="line"></div>
              <p>Akuttelefonens primære funktion er at tilbyde en tryg samtale for dem, der står i en akut svær situation, og som har brug for støtte til at håndtere deres udfordringer. De frivillige hjælper med at afklare behov, tilbyde følelsesmæssig støtte og videregive relevante informationer om næste skridt i forhold til behandling eller yderligere støtte.</p>
            </div>

            <div class="extra-content" id="extraContent3">
              <p class="bold-text">Gruppeforløb</p><br>
              <div class="line"></div>
              <p>Vores gruppeforløb samler pårørende med samme type pårørenderelation til online møder, hvor deltagerne kan dele erfaringer og få støtte fra både gruppeledere og hinanden. Samtalerne faciliteres af vores dygtige og erfarne gruppeledere, som skaber en tryg og støttende ramme for deltagerne. De nuværende grupper henvender sig til følgende pårørende: Forældre, partnere og søskende til misbrugsramte Voksne børn, der er vokset op i en misbrugsramt familie</p>         
            </div>
</section>


<style>
 

  .extra-content{
    margin-top: 3rem;
  }

.line {

  border-top: 1px solid var(--color-secondary);
  width: 100%;
  margin-bottom: 2rem;
}

.bold-text{
  margin-bottom: -0.3rem;
}

p{
   max-width: 80ch;
}

@media (max-width: 768px) {
  h2{
    margin-bottom: 1rem;
  }
}

</style>
<script>
  // Hent knappen og tekstboksen
const toggleButton1 = document.getElementById("toggleButton1");
const extraContent1 = document.getElementById("extraContent1");
const toggleButton2 = document.getElementById("toggleButton2");
const extraContent2 = document.getElementById("extraContent2");
const toggleButton3 = document.getElementById("toggleButton3");
const extraContent3 = document.getElementById("extraContent3");

// Når knappen trykkes, toggler vi visningen af tekstboksen
toggleButton1.addEventListener("click", () => {
  extraContent1.classList.toggle("visible");

  extraContent2.classList.remove("visible");
  extraContent3.classList.remove("visible");
});

toggleButton2.addEventListener("click", () => {
  extraContent2.classList.toggle("visible");

  extraContent1.classList.remove("visible");
  extraContent3.classList.remove("visible");
});

toggleButton3.addEventListener("click", () => {
  extraContent3.classList.toggle("visible");

  extraContent1.classList.remove("visible");
  extraContent2.classList.remove("visible");
});

</script>