---
const { statistic, role, description, where } = Astro.props;
---
<div class="grid_1_1 border">
  <div>
    <h3>{statistic}</h3>
    <p>{role}</p>
  </div>
  <div>  
    <h3>{where}</h3>
    <p>{description}</p>
  </div>
</div> 
