---
const { statistic, role, description, where } = Astro.props;
---
<article>
  <div>
    <h3>{statistic}</h3>
    <p>{role}</p>
  </div>
  <div>  
    <h3>{where}</h3>
    <p>{description}</p>
</div>
</article>

<style>
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
</style>
