---

---

<section>
 <h2>Så mange er vi...</h2>
 <slot/>
</section>

<style>
section{
  border: var(--color-secondary) solid;
  border-radius: 15px;
  padding: 20px;
}

h2{
  padding-top: 25px;
  text-align: center;
}
</style>
