---
---
  <section class="grid1_1_1">
             <h1>Vil du være en del af <span class="bold-text">noget helt særligt</span>?</h1>
     <img src="/public/images/hero.webp" alt="billede">
        </section>
    <section>
        <h2>Bliv en del af <span class="bold-text">Misbrugportalen - Pårørende Netværket</span> hvor vi er et stort team af rådgivere og frivillige, der arbejder for at hjælpe og støtte pårørende til misbrugramte navigere deres hverdag.</h2>
    </section>