---
import Button from "./Button.astro"
---
<section>
    <h2>Bliv en del af vores team </h2>
    <p>"Som frivillig hos Misbrugsportalen bliver du en del af et stærkt fællesskab, hvor du kan bruge dine evner til at hjælpe andre."</p>
    <Button>Tilmeld dig</Button>
    <slot />
</section>

<style>
section{
    background-color: var(--color-secondary);
}
</style>