---
const { text } = Astro.props;
---

<div>{text}</div>

<style>
  div {
    padding: 10px;
    color: var(--color-secondary);
    background-color: var(--color-tertiary);
    text-align: center;
    border-radius: 5px;
    font-family: var(--font-text);
    font-size: var(--font-size-xs-desktop);
  }

  @media (max-width: 768px) {
    div {
      padding: 10px;
      color: var(--color-secondary);
      background-color: var(--color-tertiary);
      text-align: center;
      border-radius: 5px;
      font-family: var(--font-text);
      font-size: 0.7rem;
    }
  }
</style>
