---
const { text3 } = Astro.props;
---

<button>{text3}</button>



<style>
button {
  border: none;
  padding: 10px;
  color: var(--color-secondary);
  background-color: var(--color-tertiary);
  text-align: center;
  border-radius: 5px;
  font-family: var(--font-text);
  font-size: var(--font-size-xs-desktop);
  margin-left: 8px;
}
</style>