---
---

   <section>
      <h5>Læs om Kristinas oplevelse som frivillig</h5>
      <h3>“At arbejde som rådgiver hos Misbrugsportalen har givet mig mulighed for at gøre en ægte forskel i andres liv. Hver samtale er en chance for at støtte nogen i deres sværeste stunder og være med til at skabe håb for en bedre fremtid.”</h3>
      <img src="images/kristina.webp" alt="Kristina" />
   </section>

	<style> 
    
	section {
		justify-items: center;
		margin-left: 5rem;
		margin-right: 5rem;
	}


	h5 {

	font-family: var(--font-text);
  	font-size: medium;
  	font-weight: 600; /* Semibold */
	}

	h3 {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	@media (max-width: 768px) {
		
		h3 {
		margin-right: -2rem;
		margin-left: -2rem;

		}

		img {
		width: 160%;
		justify-items: center;
		margin-right: -4rem;
		margin-left: -4rem;
		}

		h5 {
			font-size: small;
			margin-left: -1rem;
		}
  }

	</style>