---

---
<footer>
 <div class="flex">
    <div>
        <img src="logo/logo.svg" alt="logo" />
    </div>
    <div class="titler">
           <a href="#">For pårørende </a>
           <a href="#">For misbrugere</a>
           <a href="#">Vores mission</a>
           <a href="#">F&Q</a>
        <a href="#">Kontakt</a> 
        </div>
    </div>
    
    <div class="indhold">
        <div class="span">
            <ul>
                <li class="bold-text">Pårørende Netværket - Misbrugsportalen</li>
                <li>Bagsværd Hovedgade 126, 2880 Bagsværd</li>
               <li> <a href="#">Klik her for rutevejledning</a></li>
            </ul>
     <br>
         <ul>
            <li class="bold-text">Kontakt</li>
            <li>Akutrådgivning: 7090 9080</li>
            <li>Sekretariat: 7060446</li>
            <li> <a class="mail" href="#"> Mail: mail@misbrugsportalen.dk</a></li>
         </ul>
        </div>
    </div> 

<br>
<hr>
<br>

        <div class="footer-bottom">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Service</a>
          <a href="#">Cookies</a>
          <p class="footer-bottom1">© All rights reserved 2025</p>
        </div>
   
    </footer>

<style>

.flex{
display: flex;
flex-direction: row;
align-items:center;
justify-items: flex-start;
gap: 40px; 
padding-bottom: 20px;
}


 footer {
  padding: 2rem 4rem;
  background-color: #D6EEF9;
  color: black;
  margin-top: auto;
  position: relative;
  padding-bottom: 40px;
} 

ul {
  list-style-type: none;
  line-height: 2rem;
  padding-inline-start: 0;

}

footer a {
  color: black;
  padding-right: 20px;
  font-family: var(--font-text); 
} 


.grid_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  padding-bottom: 40px;
}

.mail {
  text-decoration: underline;
}

.indhold{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.span{
    grid-column: 2/4;
}

.titler {
    margin-left: 5rem;
    font-weight: bold;

}

.footer-bottom {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  font-size: 11px;
  opacity: 0.7;
}

.footer-bottom1 {
    display: flex;
    justify-content: flex-start;

     font-size: 11px;
  opacity: 0.7;

}

hr{
  border: 0.5px solid;
  margin: auto;
}

li {
  font-family: var(--font-text);

}

</style>

