---
const { text } = Astro.props;
---


<header>
   <nav class="menu">
        <ul class="bold-text">
            <li class="left"><a href="#aktiviteter">Aktiviteter</a></li>
            <li class="left"><a href="#mission">Vores mission</a></li>
            <li class="right"><a href="#kontakt">Kontakt</a></li>
          
        </ul>
        <br>
           <hr>
    </nav>
   
</header>


<style>

header {
 
  background-color: #FCFFF4;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px; 
  height: 5.5rem;
  margin-top: -150px;
}

.menu {
  width: 100%;
}

.menu ul {
  display: flex;
 width: 100%; 
  align-items: center;
  padding: 0;
  list-style: none;
}

.left {
   margin-right: 30px; 
}

.right {
  margin-left: auto; 
}

.menu li {
  margin-right: 30px;
}

.menu a {
  display: inline-block;
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {

  header {
  background-color: #FCFFF4;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px; 
  height: 5.5rem;
  margin-top: -50px;
}
}
</style>

